$white: #FFFFFF;
$dark: #000000;
$red: #FD665E;
$color-text: #2c2c2c;
$color-input-grey: #F0F0F0;
$color-swiper-button: rgba( 0, 0, 0, .03);
$color-border-footer: #E0E0E0;
$dream-gradient-color: linear-gradient(#F9F9F9, #FFFFFF);
$nav-box-shadow: rgba(0, 0, 0, 0.2);
$color-under-partners: #A2A2A2;
