@use './colors' as *;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

body {
    font-size: 1rem;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
    background-color:$white;
}

body::-webkit-scrollbar {
    width: 1em;
}
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(44, 44, 44, 0.6);
}

body::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: $red;
    outline: 1px solid $red;
}

h1,
h2,
h3 {
	font-family: 'Playfair Display', serif;
    color: $dark;
}

p {
    color: $dark;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.section {
    padding: 8rem 3.2rem;

    @media (max-width: 768px) {
		padding: 4.8rem 2.4rem;
	}

    &__title {
        font-size: 4.8rem;
        font-weight: 800;
        line-height: 124%;
        letter-spacing: -0.2px;

        @media (max-width: 768px) {
            font-size: 4rem;;
        }
    }
}

.color-red {
	color: $red;
}

.btn {
	background: none;
	border: 1px solid transparent;
	padding: 0.8rem 3.2rem;
	font-weight: 600;
	letter-spacing: 0.1px;
	border-radius: 4%;
	line-height: 2;
	cursor: pointer;

	&__red {
		border: 1px solid $red;
		background-color: $red;
		color: $white;
		font-weight: 600;
		transition: color 0.3s, background-color 0.3s;

		&:hover {
			color: $dark;
			background-color: $white;
		}
	}
}

.btn-swiper {
    border: 1px solid transparent;
    background-color: $color-swiper-button;
    padding: 1.4rem;
    border-radius: 4%;
    cursor: pointer;
    transition: border .3s;

    &:first-of-type {
        margin-right: 0.9rem;
        
        @media (max-width: 768px) {
            margin-right: 0.8rem;
        }
    }

    &:hover {
        border: 1px solid $red;
    }
}

ul {
	display: flex;
	align-items: center;
	list-style: none;
}

li {
	display: block;
}

.nav {
	position: sticky;
	top: 0;
	height: 80px;
	padding: 1.5rem 3.2rem;
	background-color: $white;
    z-index: 15;

	@media (max-width: 992px) {
		padding: 1.5rem 2.4rem;
	}

	&__navigation {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		&-left {
			display: flex;

			img {
				margin-right: 2.8rem;
				cursor: pointer;

				@media (max-width: 768px) {
					margin-right: 0;
				}
			}
		}

		&-right {
			display: flex;
			align-items: center;
		}
	}

	&__reference {
		text-decoration: none;
		letter-spacing: 0.1px;
		color: $color-text;
		font-weight: 500;
		cursor: pointer;
		transition: color 0.3s;

		&:hover {
			color: $red;
		}
	}

    .active {
        color: $red;
    }

	&__mobile {
		&-list {
			position: absolute;
			flex-direction: column;
			justify-content: center;
			width: 100%;
			height: 350px;
			right: 0;
			background-color: $white;
			top: 78px;
			box-shadow: 0px 20px 10px -15px $nav-box-shadow;
			transform: translateX(-132%);
            z-index: 5;
			transition: transform 0.5s;
		}
        
		&-active {
            transform: translateX(0);
		}
        
		&-item {
            margin: 1.2rem 0;
		}

		&-link {
			font-size: 1.7rem;
			padding: 1rem 3rem;
		}
	}

	&__desktop {
		&-list {
			@media (max-width: 992px) {
				display: none;
			}
		}

		&-item {
			margin: 0rem 1.2rem;

			&:last-of-type {
				margin-right: 0;
			}
		}

		&-link {
			font-size: 1.4rem;
		}

		&-buttons {
			@media (max-width: 768px) {
				display: none;
			}
		}
	}

	&__search {
		position: relative;

		&-input {
			margin: 0.9rem 0;
			padding: 0.8rem;
			background-color: $color-input-grey;
			border: none;
			width: 32px;
			height: 32px;
			border-radius: 50%;
			transition: width 0.3s, border-radius 0.3s;

			&:focus {
				outline: none;
				border: 1px solid $color-input-grey;
			}

			&--active {
				width: 200px;
				border-radius: 4%;

				@media (max-width: 768px) {
					width: 150px;
				}
			}
		}

		&-img {
			position: absolute;
			top: 50%;
			right: 9px;
			pointer-events: none;
			transform: translateY(-50%);

			&--active {
				right: 0;
				left: -20px;
			}
		}

		@media (max-width: 450px) {
			display: none;
		}

		&-mobile {
			margin-top: 2.5rem;
			display: block;

			@media (min-width: 450px) {
				display: none;
			}
		}
	}

	&__btn {
		&--left {
			margin: 0rem 0.4rem;
			transition: border 0.3s;

			&:hover {
				border: 1px solid $red;
			}

			@media (max-width: 768px) {
				margin: 2rem 1.5rem 0 0;
			}
		}
	}

	&__burger {
		display: flex;
		align-items: center;
		margin-left: 3rem;

		&-button {
			height: 45px;
			width: 45px;
			background: none;
			border: 1px solid transparent;
			border-radius: 4%;
			cursor: pointer;
			transition: border 0.3s;

			path {
				transition: stroke 0.3s;
			}

			&:hover path {
				stroke: $red;
			}

			&:hover {
				border: 1px solid $red;
			}
		}

		@media (min-width: 992px) {
			display: none;
		}
	}
}

.header {
	padding: 6.4rem 3.2rem;
	overflow: hidden;

    @media (max-width: 768px) {
		padding: 4.8rem 2.4rem;
	}

	&__title {
		font-size: 9.6rem;
		font-weight: 800;
		letter-spacing: 0.1rem;
		line-height: 100%;
		margin-bottom: 6.4rem;
		text-align: left;
        
        @media (max-width: 768px) {
            font-size: 8rem;
            margin-bottom: 3.2rem;
        }
        
        @media (max-width: 576px) {
            font-size: 4.8rem;
            letter-spacing: -0.02rem;
        }
	}

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

        @media (max-width: 768px) {
            flex-direction: column;
        }
	}

	&__text {
        text-align: left;
        margin-right: 9.8rem;

        @media (max-width: 992px) {
            margin-right: 4rem;
        }

        @media (max-width: 768px) {
            margin-bottom: 4rem;
        }

        @media (max-width: 576px) {
            margin-right: 0;
        }

		p {
			font-size: 1.6rem;
			font-weight: 400;
			line-height: 160%;
			letter-spacing: 0.1rem;
			margin-bottom: 4rem;

            @media (max-width: 768px) {
                margin-bottom: 2.4rem;
                padding-right: 3.7rem;
            }

            @media (max-width: 576px) {
                padding-right: 0;
            }

		}
	}

	&__img {
		width: 100%;
		min-width: 250px;
		height: 100%;
		background-size: cover;

        @media(max-width: 576px) {
            min-width: 230px;
        }
	}
}

// GALLERY
.gallery {
    &__title {
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-bottom: 4rem;

        @media (max-width: 768px) {
            flex-direction: column;
            margin-bottom: 3.2rem;
        }

        h2 {
            @media (max-width: 768px) {
                margin-bottom: 3.2rem;
            }
        }
    }
    
    &__buttons {
        align-self: flex-end;
        
        @media (max-width: 768px) {
            align-self: start;
        }
    }

    .swiper {
        width: calc(100% + 120px);
        height: 100%;

        @media (max-width: 1400px) {
            width: calc(100% + 30px);
        }

        @media (max-width: 1200px) {
            width: calc(100% + 2.4rem);
        }

        @media (max-width: 500px) {
            width: 100%;
        }
      }
  
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .swiper-button-disabled {
        background-color: $color-input-grey;
      }
}

// WORKS
.architects {
    &__row {
        display: flex;
        margin-bottom: 6.4rem;

        @media (max-width: 992px) {
            flex-direction: column;
        }
    }

    &__left-img {
        @media(min-width: 768px) and (max-width: 992px) {
            display: flex;
            justify-content: center;
        }
    }

    &__img {
        min-width: 400px;
        width: 100%;
        height: 100%;

        @media (max-width: 992px) {
            max-width: 500px;
            min-width: 250px;
            margin-bottom: 4rem;
        }

        @media(max-width: 576px) {
            min-width: 230px;
        }
    }

    &__build {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 12rem;
        width: 100%;
        text-align: left;

        @media (max-width: 1230px) {
            padding: 0 6rem;
        }

        @media (max-width: 1070px) {
            padding: 0 0 0 3rem;
        }

        @media (max-width: 992px) {
            padding: 0 12rem 0 0;
        }

        @media (max-width: 992px) {
            padding: 0 5rem 0 0;
        }

        @media (max-width: 576px) {
            padding: 0;
        }
    }

    &__title {
        margin-bottom: 4rem;
    }

    &__content {
        &-text {
            margin-left: 4rem;

            @media (max-width: 768px) {
                margin-left: 1.6rem;
            }
        }

        &-box {
            display: flex;
            margin-bottom: 4rem;

            &:last-child {
                margin-bottom: 0;
            }

            &-icon {
                align-self: start;
                width: 64px;
                height: 64px;
            }
        }
    }

    &__text {
        font-size: 1.6rem;
        line-height: 160%;
        letter-spacing: 0.01px;

        &--bold {
            font-weight: 700;
        }

        &--normal {
            font-weight: 400;
        }
    }

    &__button {
        display: flex;
        justify-content: center;
    }
}

// ARTICLES
.articles {
    &__container {
        position: relative;
    }

    p {
        font-weight: 400;
        line-height: 160%;
        letter-spacing: 0.01px;
    }

    &__title {
        margin-bottom: 6.4rem;
    }

    &__testimonials {
        @media(max-width: 992px) {
            margin-bottom: 4rem;
        }
    }

    &__testimonial {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

    }

    &__quote {
        display: flex;
        justify-content: space-between;
        width: 870px;

        @media(max-width: 992px) {
            flex-direction: column;
            width: 100%;
        }

        &-icon {
            svg {
                margin-right: 4.8rem;
                
                @media(max-width: 992px) {
                    margin-right: 0;
                    margin-bottom: 4.8rem;
                }
            }
        }

        p {
            font-size: 3.6rem;
            margin-bottom: 4.8rem;
            
            @media(max-width: 992px) {
                margin-bottom: 4rem;
            }

            @media(max-width: 768px) {
                font-size: 2.4rem;
            }
        }
    }

    &__author {
        width: 765px;

        @media(max-width: 992px) {
            width: 100%;
        }

        p {
            font-size: 1.6rem;
        }
    }

    &__buttons {
        background-color: $white;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 5;

        @media(max-width: 992px) {
            position: relative;
            background-color: none;
        }
    }
}

.dream {
    background: $dream-gradient-color;

    &__content {
        display: flex;
        align-items: center;

        @media(max-width: 768px) {
            flex-direction: column;
        }

    }

    &__img {
        min-width: 440px;
        max-width: 500px;
        width: 100%;
        
        @media(max-width: 768px) {
            margin-bottom: 4.8rem;
            min-width: 250px;
        }
    }


    &__title {
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        width: 100%;

        h2 {
            font-size: 6.4rem;
            margin-bottom: 4.8rem;

            @media(max-width: 992px) {
                font-size: 4.8rem;
            }
        }

        button {
            text-transform: uppercase;
            font-size: 1.4rem;
        }
    }
}

.partners {
    h3 {
        margin-bottom: 4rem;
    }

    &__company {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 68px;
        
        @media(max-width: 1250px) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-auto-flow: column;
            justify-items: center;
            column-gap: 44px;
            row-gap: 20px;
        }

        @media(max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            row-gap: 10px;
        }
        
        @media(max-width: 576px) {
            column-gap: 24px;
            justify-items: start;
        }
        
        @media(max-width: 445px) {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(6, 1fr);
        }

        figure {
            width: 100%;
            transition: transform .3s;

            figcaption {
                display: block;
                width: 100%;
                height: 115px;
                padding: 1rem;
                overflow: auto;
                transform: translateY(-5px);

                @media(max-width: 1250px) {
                    height: 80px;
                }

                p {
                    display: none;
                    top: -20px;
                    line-height: 120%;
                    font-weight: 400;
                    font-size: 1.1rem;
                    letter-spacing: 0.2px;
                    color: $color-under-partners;
                    animation: partners-animation .3s forwards;
                    transform: display .3s;
                }
            }

            &:hover figcaption p {
                display: block;
            }

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

// FOOTER
.footer {
    border-top: 1px solid $color-border-footer;

    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        @media(max-width: 768px) {
            flex-direction: column;
        }
    }
    
    &__list {
        
        @media(max-width: 768px) {
            margin-bottom: 3.6rem;
        }

        @media(max-width: 576px) {
            justify-content: center;
            flex-wrap: wrap;
            gap: 2rem;
        }

        @media(max-width: 400px) {
            flex-direction: column;
            align-items: start;
        }
    }

    &__item {
        list-style: none;
        margin-right: 4rem;
    
        &:last-child {
            margin-right: 0;
        }
    }
    
    &__link {
        font-size: 1.4rem;
        letter-spacing: 0.02px;
        line-height: 40%;
        font-weight: 500;
        text-decoration: none;
        color: $color-text;
        transition: color .3s;

        &:hover {
            color: $red;
        }
    }
}

// KEYFRAMES
@keyframes partners-animation {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}
